<p>
  <b>Email:</b>
  <%%=h @<%=file_name%>.email %>
</p>

<p>
  <b>Login count:</b>
  <%%=h @<%=file_name%>.login_count %>
</p>

<p>
  <b>Last request at:</b>
  <%%=h @<%=file_name%>.last_request_at %>
</p>

<p>
  <b>Last login at:</b>
  <%%=h @<%=file_name%>.last_login_at %>
</p>

<p>
  <b>Current login at:</b>
  <%%=h @<%=file_name%>.current_login_at %>
</p>

<p>
  <b>Last login ip:</b>
  <%%=h @<%=file_name%>.last_login_ip %>
</p>

<p>
  <b>Current login ip:</b>
  <%%=h @<%=file_name%>.current_login_ip %>
</p>

<%%= link_to 'Edit', edit_<%=file_name%>_path(@<%=file_name%>) %>
